<h1> {{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%B %e %Y" }}</p>
<p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="aaron_lebo">Tweet</a>
  <a href="http://news.ycombinator.com/submitlink?u={{ page.url }}&t={{ page.title }}">
    <img src="http://raw.githubusercontent.com/aaron-lebo/aaron-lebo.github.io/master/_images/yc.gif" alt="submit to Hacker News" border="0" style="padding-right: 35px"/>
  </a>
  <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> 
    <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" />
  </a>
</p>
